DB_HOST=localhost
DB_NAME=rapca_campo
DB_USER=root
DB_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# URL de Google Forms para sync
GOOGLE_FORM_URL=
GOOGLE_FORM_ENTRY_TIPO=entry.437432431
GOOGLE_FORM_ENTRY_FECHA=entry.1468491774
GOOGLE_FORM_ENTRY_ZONA=entry.226003494
GOOGLE_FORM_ENTRY_UNIDAD=entry.1028582203
GOOGLE_FORM_ENTRY_TRANSECTO=entry.1651846022
GOOGLE_FORM_ENTRY_DATOS=entry.1220105245

APP_URL=http://localhost:8000
